html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #09202F;
    color: #B5BCC0;
}

.margeFooter{
  height:30px;
}

.contacth2{
      background-color: lightblue;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      margin:0 ;

  }
  #mainview{
    margin:0;
  }
.faqh1{

}
.faqh2{

}
.faqp {

}
body{
  background: url('../img/munkhsaran-otgonbayar-554708-unsplash(1).jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.accueilp{
  text-align: center;
}
.accueilp2{
  text-align: center;
}
.accueili{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
