html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 39px;
}
@media (max-width: 893px) {
  body {
    padding-top: 89px;
  }
  @media (max-width: 783px) {
    body {
      padding-top: 139px;
    }
    @media (max-width: 767px) {
      body {
        padding-top: 346px;
      }
    }
  }
}

.footer {
    position: absolute;
    bottom: 0;
    min-height: 130px;
    background: #D4A59A;

  }

.margeFooter{
  min-height: 145px;
}
.titre-footer{
  font-weight: bold;
  font-size: small;
  color:inherit: #090808;
}
.text-footer{
  font-size:x-small;
  color: #5B5757;
}
.border-left{
  border-left-style:dashed;
  border-color: #96766f;
}

.text-right{
  text-align:right;
}

#imgMarginLeft{
  background-repeat: no-repeat;
  background-position:left;
  background-size:cover;
  height:100%;
  left:0;
  position: fixed;
}

#imgMarginRight{
  background-repeat: no-repeat;
  background-position:right;
  background-size:cover;
  height:100%;
  right:0;
  position: fixed;
}
#waitForMarginContenu, #waitForMarginFooter {
  display:none;
}

.titre{
  background: #78A1BF;
  color: #ffffff;
  border-radius:5px;
  box-shadow: 5px 5px 13px #777;
  margin-top: 10px;
  margin-bottom: 30px;
}

.photoProfil{
  border-radius: 5px;
  height:150px;
  max-width: 200px;
}

.margin-auto{
margin:auto;
}

.faqb, .faqw{
  min-height:190px;
  display:flex;
  flex-direction: column;
}
.faqb{
  background: #5F6791;
  color: #ffffff;
  box-shadow: 5px 5px 13px #555;
  border-radius:5px;
}


 .displayTextPhotoDev {
   position: relative;
   max-width: 70%;
 }

 .photodev {
  width: 75%;
  height: 75%;
  box-shadow: 1px 1px 12px #555;
 }

 .couche {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:50%;
  width: 75%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5F6791;
 }

 .displayTextPhotoDev:hover .couche {
  opacity: 0.8;
 }

 .textePhotoDev {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
