html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 39px;
}
@media (max-width: 1062px) {
  body {
    padding-top: 89px;
  }
  @media (max-width: 952px) {
    body {
      padding-top: 139px;
    }
    @media (max-width: 767px) {
      body {
        padding-top: 462px;
      }
    }
  }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    background: #09202F;
    color: #B5BCC0;
}

.margeFooter{
  height:45px;
}

#imgMarginLeft{
  background-repeat: no-repeat;
  background-position:left;
  background-size:cover;
  height:100%;
  left:0;
  position: fixed;
}

#imgMarginRight{
  background-repeat: no-repeat;
  background-position:right;
  background-size:cover;
  height:100%;
  right:0;
  position: fixed;
}
#waitForMargin{
  display:none;
}

.titre{
  background: #78A1BF;
  color: #ffffff;
  border-radius:5px;
  box-shadow: 5px 5px 13px #777;
  margin-top: 10px;
  margin-bottom: 30px;
}

<<<<<<< HEAD
=======
.margin-auto{
margin:auto;
}
>>>>>>> 7ce67f6fe30c393b4305244295749c6f27391526

.faqb, .faqw{
  min-height:190px;
  display:flex;
  flex-direction: column;
}
.faqb{
  background: #5F6791;
  color: #ffffff;
  box-shadow: 5px 5px 13px #555;
  border-radius:5px;
}

<<<<<<< HEAD
.pageaccueil{
=======

.ap{
  text-align: center;
}
.accueilp2{
>>>>>>> 7ce67f6fe30c393b4305244295749c6f27391526
  text-align: center;
}

.rep {
  text-align: right;
}
.ai img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .contenu {
   position: relative;
   max-width: 70%;
 }

 .photodev {
  width: 75%;
  height: 75%;
  box-shadow: 1px 1px 12px #555;
 }

 .couche {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5F6791;
 }

 .contenu:hover .couche {
  opacity: 1;
 }

 .texte {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
